body {
  background-image: url(background.jpg);
  background-attachment: fixed;
}

.home{
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3;
  width: 120px;
}

.nav-linkdiv {
  margin: 10px 0 10px 0px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  width: 120px;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  transition: all 0.3;
}

.nav-linkdiv:hover {
  background-color:#8a9494;
  color: white;
}

.nav-linkdiv:hover .nav-link{
  color: rgb(104, 100, 100);
}
.cardnav-link{
  width: 120px;
  margin: 10px 0 10px 10px;
  border-radius: 15px;
}


@media only screen and (max-width: 500px) {
  .home{
    flex-wrap: wrap;
  }
  .nav-linkdiv{
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 10px 0;
  }
  .cardnav-link{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1000;
  }
  .nav-link {
    width: 100%;
  }
}