body {
    margin: 0;
    background-image: url(/img/background.jpg);
    font-family: 'Assistant', sans-serif;
}

.cardinput {
    background-color: honeydew;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #c2c9d679;
    text-align: center;
    padding: 40px 20px;
    border-radius: 15px;
    direction: rtl;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    box-shadow: 5px 5px 12px 5px rgb(170, 170, 170), -5px -2px 12px 5px rgb(170, 170, 170);

}


.rtl {
    text-align: right;
    padding: 10px;
}

.hoverflwh {
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
}

.lebelinputText {
    font-size: 17px;
    width: 80%;
    padding: 10px 0;
    text-align: center;
}

input[type=text],
input[type=number] {
    direction: rtl;
    padding: 10px 0 3px;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid gray;
    background: none;
    margin-bottom: 25px;
    outline: none;
    font-family: var(--font-family);
    color: var(--color);
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
}

.lebelinputRadio {
    margin: 20px;
}

.butoonsubmit {
    padding: 10px 15px;
    margin: 15px 0 0;
    background: #d3d1d19f;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    transition: all 0.3s;
}


.titelcardinput {
    padding: 0px 0 20px;
    font-weight: 600;
    font-size: 30px;
}

button:hover {
    background: #5d6a82;
    color: white;

}

button:active {
    border: 3px solid grey;
}

.cardinputradio {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}


@media only screen and (max-width: 500px) {
    html {
        user-select: none;
    }

    .cardinput {
        box-shadow: none;
    }

    .lebelinputRadio {
        margin: 3vw 2vw;
    }
}