body {
    margin: 0;
    background-image: url(/img/background.jpg);
    font-family: 'Assistant', sans-serif;
}

.buttonadmin{
    padding: 3px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    background-color: #a4adbecb;
    margin: 5px 0 7px 5px;
    border-radius:3px;
    cursor: pointer;
}

.cardtimer {
    display: flex;
    justify-content: space-evenly;
}

.timer1,
.timer2 {
    background-color: #a6aebeb9;
    width: 48%;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 2px 8px 3px rgb(170, 170, 170), -2px -1px 8px 3px rgb(170, 170, 170)
}

.retern1,
.retern2 {
    cursor: pointer;
    outline: none;
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 0;
    background-color: #7b828f;
    border-radius: 10px;
    font-size: min(2vw, 150rem);
    transition: all 0.2s;
    font-weight: 600;

    &:hover {
        background-color: #5d6a82;
        color: white;
    }

    &:active {
        transform: scale(0.5);
    }

}

.titeltimer1,
.titeltimer2 {
    font-size: min(5vw, 280rem);
}

.time1,
.time2 {
    font-size: min(20vw, 350px);
    background-color: rgba(255, 250, 250, 0.623);
    border-radius: 0 0 15px 15px;
}

.cardtext {
    font-family: 'Assistant', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.text {
    width: 48%;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    margin: 25px 0;
    box-shadow: 2px 2px 8px 3px rgb(170, 170, 170), -2px -1px 8px 3px rgb(170, 170, 170)
}

.titeltext{
    font-size: min(3.7vw, 300rem);
    background-color: #a6aebeb9;
    border-radius: 25px 25px 0 0;
    font-weight: 600;
    
}

.textAmount,
.textcosher,
.texttable,
.textnumtable  {
    padding: 15px;
    font-size: min(3vw, 300rem);
}



@media only screen and (max-width: 500px) {
    .cardtimer {
        flex-wrap: wrap;
    }

    .timer1,
    .timer2 {
        margin-top: 25px;
        width: 95%;
    }

    .titeltimer1,
    .titeltimer2 {
        font-size: min(10vw, 280rem);
    }

    .time1,
    .time2 {
        font-size: min(20vw, 450rem);
    }

    .retern1,
    .retern2 {
        left: 5px;
        top: 5px;
        font-size: min(6vw, 150rem);
        padding: 8px;
        border-radius: 15px 10px 10px 10px;
    }

    .text {
        width: 90%;
        margin-top: 5px;
    }

    .titeltext {
        font-size: min(10vw, 300rem);
    }

    .textAmount,
    .textcosher,
    .texttable,
    .textnumtable {
        padding: 15px;
        font-size: min(11vw, 40px);
    }

}